.wrapper {
  width: 100%;
  height: 100%;
}

.menu-sidebar {
  position: absolute;
  right: 40px;
  width: 51px;
  position: absolute;
  z-index: 999;
  background: #000;
  height: 220px;
  display: flex;
  top: 25%;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-sidebar {
  height: 40px;
  background-color: #000;
  border: none;
}

.btn-sidebar:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.btn-sidebar:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.audio{
  display: none;
}

.wrapper-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

