.wrapper {
  width: 600px;
  height: 500px;
  background-color: #0000007c;
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 9999;
  animation: slideFadeIn 0.3s ease;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-button {
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0;
  padding: 6px 8px 6px 8px;
  margin-top: 14px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-modal {
  display: flex;
  font-family: "Stardom", sans-serif;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  font-size: 22px;
}

.header-modal h4{
  margin-left: 36px;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  margin-top: 22px;
}

.music-mode {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
}

.music-mode.slideInt {
  animation: slideIn 0.5s ease forwards;
  opacity: 1;
  pointer-events: auto;
}

.music-mode.slideOut {
  animation: slideOut 0.5s ease forwards;
  opacity: 0;
  pointer-events: none;
}

.music-play {
  position: absolute;
  left: 7%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 86%;
  height: 150px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  opacity: 0; 
  pointer-events: none;
  z-index: 999;
}

.music-play.slideInt {
  animation: slideIn 0.5s ease forwards;
  opacity: 1;
  pointer-events: auto;
}

.music-play.slideOut {
  animation: slideOut 0.5s ease forwards;
  opacity: 0;
  pointer-events: none;
}

.sline-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Stardom", sans-serif;
  width: 300px;
  font-size: 22px;
  padding: 4px;
  border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  margin-bottom: 14px;
  top: 12px;
}

.play-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.slideBack {
  pointer-events: all;
  animation: backwards 0.5s ease forwards;
}

.btn-back {
  position: absolute;
  right: 0;
  height: 100px;
  margin-right: 8px;
  width: 28px;
  background-color: #0000007c;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  top: 26px;
  transition: background-color linear 300ms;
}

.btn-back:hover{
  background-color: white;
  color: black;
  transition: background-color linear 300ms;
}

.button-ms-mode {
  width: 110px;
  height: 122px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Stardom", sans-serif;
}

.music-mode :hover {
  background-color: black;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.3);
}

.icon {
  font-size: 54px;
  animation: shake 0.5s infinite;
}

.icon :first-child {
  color: green, 
}

.btn-name {
  font-size: 14px;
  padding-top: 4px;
  font-weight: bold;
}

.sound-mode {
  margin-top: 16px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.sound-decription {
  font-size: 16px;
  font-weight: bold;
  font-family: "Stardom", sans-serif;
  width: 100%;
}


.title-sound {
  margin-top: 16px;
  width: 100%;
  display: flex;
  float: left;
  margin-left: 30px;
}

.title-sound h3 {
  margin: 0;
}

.sound-decription {
  color: white;
}

.volume-slider {
  margin: 0 10px;
  display: flex;
  padding-top: 76px;
  height: 120px;
  justify-content: center;
}

.volume-wrapper {
  width: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Stardom", sans-serif;
  color: white;
}
.slider {
  height: 8px;
  transform: rotate(270deg);

  border-radius: 4px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes slideBack {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
